aiohttp
aioshutil
aiofiles
anitopy
apscheduler
dnspython
motor==3.6.0
feedparser
psutil
pycountry
pyrogram
pyrofork
python-dotenv
tgcrypto
torrentp==0.1.7
git+https://github.com/kaif-00z/html-telegraph-poster
uvloop
lxml_html_clean
ffmpeg-python
